.big-container-hab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85%;
  margin-top: 95px;
  opacity: 0;
  transition: 2s;
}

.medium-container-hab {
  display: flexbox;
  height: 100%;
  width: 60%;
  justify-content: center;
}

#small-container-hab-cima {
  display: flex;
  height: auto;
  width: 70%;
  justify-content: space-around;
  margin: 50px auto 0px auto;
  color: white;
}

#small-container-hab-baixo {
  display: flex;
  height: auto;
  width: 70%;
  margin: 25px auto 0px auto;
  justify-content: space-around;
  color: white;
}

.img-hab {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

#small-container-text {
  justify-content: center;
  display: flex;
  height: auto;
  width: 100%;
  margin-top: 100px;
  color: white;
}

.vizualizado {
  opacity: 1;
}

#arrow-hab {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}

#arrow-hab > a {
  height: 90px;
  width: 120px;
  background-image: url(../../../images/arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
