.big-container-hab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85%;
  margin-top: 95px;
  opacity: 0;
  transition: 2s;
}

.medium-container-hab {
  display: flexbox;
  height: 100%;
  width: 60%;
  justify-content: center;
  align-items: center;
}

#small-container-hab {
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: auto;
  width: 70%;
  justify-content: space-between;
  margin: 50px auto 0px auto;
  color: white;
}

.img-hab {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

#small-container-text {
  justify-content: center;
  display: flex;
  height: auto;
  width: 90%;
  margin: auto;
  margin-top: 100px;
  color: white;
  text-align: center;
}

.vizualizado {
  opacity: 1;
}

#arrow-hab {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

#arrow-hab > a {
  height: 90px;
  width: 120px;
  background-image: url(../../../images/arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media screen and (max-width: 1024px) {
  #small-container-hab {
    margin-top: 0px;
    width: 100%;
  }

  #arrow-hab {
    margin-top: 100px;
  }
}
@media screen and (max-width: 768px) {
  .medium-container-hab {
    width: 100%;
  }
  
  #small-container-hab {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .big-container-hab {
    height: 100%;
  }

  .medium-container-hab {
    height: 100%;
  }

  #small-container-hab {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .img-hab {
    margin: 10px;
  }

  #small-container-text {
    margin-top: 25px;
  }

  #arrow-hab {
    margin-top: 30px;
  }
 }