.medium-container {
    display: flex;
    width: 60%;
    margin: auto;
}

.small-container {
    display: flex;
    border: 1px solid red;
    width: auto;
}

.small-container > a >img{
    width: auto;
}