.Header-container {
  display: flex;
  justify-content:center;
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0px;
}

.Buttons-container {
  width: 60%;
  display: inline-flex;
  justify-content: space-around;
}
.Buttons-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  text-align: center;
  color: blueviolet;
  text-decoration: none;
  background-color: transparent;
  display: flexbox;
  width: 20%;
  border: none;
}
.Buttons-container a:hover {
  opacity: 1;
  border-bottom: solid 1px blueviolet;
}
